@model IEnumerable<NewFP.Models.Substitution>

@{
    ViewBag.Title = "Substitutions";
}

<h2>Substitutions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Find by Ingredient: @Html.TextBox("SearchString")
        <input type="submit" value="Search" /></p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Ingredient", "Index", new { sortOrder = ViewBag.Ingredient })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Substitution1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Substitution2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Substitution3)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Substitution1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Substitution2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Substitution3)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IngredientID }) |
                @Html.ActionLink("Details", "Details", new { id = item.IngredientID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IngredientID })
            </td>
        </tr>
    }

</table>
